* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #f2f2f2;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  max-width: 1000px;
  width: 100%;
  background-color: #1f1f1f;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #e63946;
  text-align: center;
  margin-bottom: 10px;
}

header p {
  text-align: center;
  color: #ccc;
}

section {
  margin-top: 30px;
}

h2 {
  color: #e63946;
  text-align: center;
}

.killlers-list,
.perks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.killer-card,
.perk-card {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  width: 200px;
  transition: transform 0.3s ease;
}

.killer-card:hover,
.perk-card:hover {
  transform: scale(1.05);
}

.killer-card img,
.perk-card img {
  width: 50px;
  height: 50px;
}

.perk-card p,
.killer-card p {
  margin-top: 10px;
  font-size: 14px;
}

button {
  padding: 12px 20px;
  background-color: #e63946;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: #c5303b;
}

.builds-list {
  margin-top: 30px;
}

.build-entry {
  background-color: #222;
  padding: 20px;
  margin-bottom: 10px;
  border-left: 5px solid #e63946;
}

.build-entry button {
  background-color: #c5303b;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.build-entry button:hover {
  background-color: #a1292b;
}

select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
